extends ./layout/app

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido 

  div(class="py-5")
    h1.text-center.text-4xl.font-extrabold.my-10 Ubicacion en el Mapa

    div(class="flex flex-col md:flex-row items-center gap-4 py-10")
      h2(class="font-bold text-sm uppercase text-gray-800") Filtrar Propiedades:

      div(class="w-full flex items-center md:w-auto gap-2")
        label(for="categorias" class="w-24 text-sm uppercase text-gray-500 font-bold") Categorias
        select(id="categorias" class="w-full flex-1 bg-white px-3 py-2 border border-gray-300 rounded-md shadow")
          option(value="") -Seleccione-
          each categoria in categorias
            option(value=categoria.id)= categoria.nombre

      div(class="w-full flex items-center md:w-auto gap-2")
        label(for="precios" class="w-24 text-sm uppercase text-gray-500 font-bold") Precio
        select(id="precios" class="w-full flex-1 bg-white px-3 py-2 border border-gray-300 rounded-md shadow")
          option(value="") -Seleccione-
          each precio in precios
            option(value=precio.id)= precio.nombre

    div(id="mapa-inicio" class="h-[600px]")

    section(class="py-5")
      h2(class="text-4xl text-center font-extrabold pt-10") Casas en Venta

      div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-5")
        each casa in casas
          div(class="shadow rounded-lg bg-white")
            img(class="object-cover h-72 w-full" src=`/uploads/${casa.imagen}` alt=casa.titulo)
            div(class="space-y-2 p-5")
              h3(class="font-bold text-2xl")= casa.titulo
              p(class="text-gray-600 text-sm") Habitaciones: 
                span(class="text-gray-800 font-bold")= casa.habitaciones
              p(class="text-gray-600 text-sm") WC: 
                span(class="text-gray-800 font-bold")= casa.wc
              p(class="text-gray-600 text-sm") Precio: 
                span(class="text-gray-800 font-bold")= casa.precio.nombre
              a(href=`/propiedad/${casa.id}` class="block p-2 text-center text-white bg-indigo-600 w-full font-bold uppercase rounded") Ver Propiedad

    section(class="py-5")
      h2(class="text-4xl text-center font-extrabold pt-10") Departamentos en Venta

      div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-5")
        each departamento in departamentos
          div(class="shadow rounded-lg bg-white")
            img(class="object-cover h-72 w-full" src=`/uploads/${departamento.imagen}` alt=departamento.titulo)
            div(class="space-y-2 p-5")
              h3(class="font-bold text-2xl")= departamento.titulo
              p(class="text-gray-600 text-sm") Habitaciones: 
                span(class="text-gray-800 font-bold")= departamento.habitaciones
              p(class="text-gray-600 text-sm") WC: 
                span(class="text-gray-800 font-bold")= departamento.wc
              p(class="text-gray-600 text-sm") Precio: 
                span(class="text-gray-800 font-bold")= departamento.precio.nombre
              a(href=`/propiedad/${departamento.id}` class="block p-2 text-center text-white bg-indigo-600 w-full font-bold uppercase rounded") Ver Propiedad


block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="/js/mapaInicio.js")